<p style="font-size: 18px; font-weight: 800; line-height: 24px; color: #333333;">
    Hello there,
</p>
<p style="font-size: 16px; font-weight: 400; line-height: 24px; color: #777777;">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi incidunt ducimus, assumenda. Vitae, dolorum perspiciatis.
</p>
<p style="font-size: 16px; font-weight: 400; line-height: 24px; color: #777777;">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, voluptatibus necessitatibus, facilis voluptatum nobis tempora eum. Saepe praesentium non quaerat, deleniti, voluptatum aperiam fugit. Impedit ullam, itaque fuga, expedita, quam rem, magni voluptate vitae nulla vero sunt exercitationem quaerat nesciunt!
</p>
<p style="font-size: 16px; font-weight: 400; line-height: 24px; color: #777777;">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat deleniti, sunt reprehenderit, quod temporibus voluptas corporis magni aperiam fugiat, doloremque consectetur provident ipsam! Aliquam, soluta.
</p>
<br>
Thanks,
<p style="font-size: 18px; font-weight: 800; line-height: 24px; color: #333333; margin: 0;">
    Get Linked Team
</p>